body {
    background-color: #F0F2F2;
    color: #6FBFBF;
}
  
  h1 {
    color: #010326;
    margin-left: 20px;
    font: 22px arial, sans-serif;
  }

  .program{
    color: rgb(27, 36, 36);
    background-color: rgb(209, 218, 218);
    text-align: center;
  }

  .toughts{
    text-align: right;
  }

  .myself{
    outline-style: double;
  }
  
  a{text-decoration: none; color: #393E59 ;}
